.btn-primary {
    background-color: var(--dark-red);
    color: var(--white);
    font-weight: 600;

    display: inline-block;
    padding: 1rem 1.8rem;
    border-radius: 0.8rem;
}

.menu-item {
    color: var(--light-gray);
    font-size: 1.6rem;
    font-weight: 500;
}

.tag {
    color: var(--dark-red);
    font-size: 1.6rem;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 2rem;
}